/* Add your styles here */
body {
  font-family: Arial, sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app{
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
}
.app h1 {
  text-align: center;
  background-color: blueviolet;
  padding: 15px;
}
.task-input{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.task-input input{
  width: 80%;
  padding: 15px;
  border: 1px solid #ffeaea;
  outline: none;
}
.task-input button{
  width: 18%;
  padding: 15px;
}

.task-list li{
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid antiquewhite;
}
.task-list li:hover{
  background-color: antiquewhite;
}