body {
  font-family: Arial, sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app{
  max-width: 700px;
  margin: auto;
}
.app h1 {
  text-align: center;
  background-color: blueviolet;
  color: #fff;
  padding: 15px;
}

.task-list li{
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid antiquewhite;
}
.task-list li:hover{
  background-color: antiquewhite;
}